/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --swiper-theme-color: #73835a;
  --swiper-pagination-bullet-inactive-color: #a18268;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  color: #31261a;
  background-color: #faf4ea;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

.visually-hidden {
  display: none;
}

.green {
  color: #819b57;
  &_600 {
    font-weight: 600;
  }
  &_black {
    color: #465929;
  }
}

.container {
  --width: 1190px;
  --padding: 30px;
  max-width: calc(var(--width) + (var(--padding) * 2));
  padding: 0 var(--padding);
  margin: 0 auto;
}

.logo {
  max-width: 114px;
  text-transform: uppercase;
  color: #faf4ea;
  font-size: 24px;
  font-family: 'Poppins';
  -webkit-text-stroke: 0.5px #000000;
  &__span {
    font-weight: 700;
  }
}

.nav {
  color: #faf4ea;
  &__items {
    display: flex;
    gap: 64px;
    align-items: center;
  }
  &__link {
    color: #faf4ea;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #819b57;
    }
  }
}

.header {
  position: absolute;
  padding-top: 32px;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
  &__btn {
    font-weight: 600;
    color: #faf4ea;
    font-size: 18px;
    padding: 16px 32px;
    border-radius: 8px;
    border: 2px solid #819b57;
    background-color: #819b57;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #faf4ea;
      color: #465929;
    }
  }
}
.burger {
  display: none;
  position: relative;
}
.hero {
  background-image: url('../img/main_page.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__title {
    text-align: center;
    font-size: 128px;
    font-weight: 700;
    color: #faf4ea;
  }
}

.info-line {
  padding: 16px 0;
  background-color: #819b57;
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    color: #faf4ea;
  }
}

.new-format {
  padding: 96px 0 48px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
  }
  &__text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    line-height: 1.2;
  }
  &__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 84px;
  }
}

.line {
  display: block;
  margin-bottom: 23px;
  height: 2px;
  width: 352px;
  background: #cfcfbc;
}

.best-cook {
  padding: 46px 0 66px;
  &__wrapper-title {
    display: flex;
    align-items: end;
    padding-bottom: 40px;
  }
  &__title {
    max-width: 520px;
    font-size: 64px;
    font-weight: 900;
    line-height: 84px;
    text-align: center;
  }
  &__subtitle {
    line-height: 1.4;
  }
  &__wrapper {
    padding-top: 40px;
    display: flex;
    gap: 0 30px;
  }
}

.info-cook {
  display: flex;
  gap: 0 30px;
  max-width: 605px;
  flex: 50%;
  &__title {
    padding-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
  }
  &__photo {
    position: relative;
  }
  &__circule {
    position: absolute;
    z-index: -1;
    top: 16px;
    left: -16px;
    height: 390px;
    width: 241px;
    border-radius: 4px 4px 4px 200px;
    border: 1px solid var(--bakery-landing-14, #a18268);
  }
}

.formats {
  padding: 66px 0 48px;
  &__title {
    padding-bottom: 40px;
    font-size: 64px;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
  }
}
.formatsSwiper__container {
  position: relative;
  padding-bottom: 43px;
}
.bakery-card {
  position: relative;
  width: 349px;
  height: 444px;
  margin: auto;
  &__img {
    border-radius: 16px;
  }
  &__gradient {
    color: #faf4ea;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    );
  }
  &__text {
    position: absolute;
    bottom: 0;
    padding: 16px;
  }
  &__title {
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
  }
  & p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.swiper-button {
  &-prev {
    top: 46%;
    left: 0;
    width: 44px;
    fill: #faf4ea;
    transition: all 0.2s ease-in-out;
    & path {
      fill: #31261a;
    }
    &::after {
      content: none !important;
    }
    &:hover {
      fill: #31261a;
      & path {
        fill: #faf4ea;
      }
    }
  }
  &-next {
    top: 46%;
    right: 0;
    width: 44px;
    fill: #faf4ea;
    transition: all 0.2s ease-in-out;
    & path {
      fill: #31261a;
      &:hover {
        fill: #faf4ea;
      }
    }
    &::after {
      content: none !important;
    }
    &:hover {
      fill: #31261a;
      & path {
        fill: #faf4ea;
      }
    }
  }
}

.swiper-pagination {
  position: absolute;
}

.swiper {
  width: 1087px;
}

.contacts {
  padding: 48px 0 96px;
  &__container {
    display: flex;
    gap: 32px;
  }
  &__info {
    max-width: 605px;
  }
  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 84px;
  }
  &__subtitle {
    margin-top: 16px;
    color: #465929;
    font-size: 18px;
    font-weight: 400;
  }
  &__map {
    border-radius: 16px;
    width: 100%;
  }
}

.form {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  align-items: center;
  &__label {
    width: 100%;
  }
  &__input {
    width: 100%;
    padding: 16px 42px;
    color: #31261a;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #a18268;
    border-color: #819b57;
    background-color: #faf4ea;
    border-width: 2px;
    &:placeholder-shown {
      color: #a18268;
      border-color: #a18268;
    }
    &::placeholder {
      color: #a18268;
      font-size: 18px;
      font-weight: 400;
    }
    &:active,
    &:focus {
      border-color: #819b57;
      color: #31261a;
    }
  }
  &__btn {
    padding: 16px 32px;
    color: #faf4ea;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #819b57;
    background: #819b57;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #faf4ea;
      color: #465929;
    }
  }
  &__policy {
    margin-top: -8px;
    color: #31261a;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
  }
  &__link {
    color: #31261a;
    text-decoration-line: underline;
    line-height: 1.2;
  }
}

.footer {
  background: no-repeat url('../img/footer.png') #31261a;
  background-size: cover;
  padding: 32px 0 20px;
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    & a {
      color: #faf4ea;
    }
  }
  &__policy {
    font-weight: 400;
    & span {
      color: #a18268;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.contact__icons {
  display: flex !important;
  flex-direction: row !important;
  gap: 0 22px !important;
}

.modal {
  visibility: hidden;
  z-index: 10;
  padding: 72px 20px;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  overflow-y: auto;
  opacity: 0;
  &__main {
    position: relative;
    padding: 128px 128px 187px;
    margin: auto;
    border-radius: 32px;
    background: #faf4ea;
  }
  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
  }
  &__subtitle {
    margin-top: 16px;
    color: #465929;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: transparent;
    & svg {
      stroke: #31261a;
      transition: stroke 0.2s ease-in-out;
      &:hover {
        stroke: #a18268;
      }
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .swiper {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .logo {
    max-width: 90px;
    color: #faf4ea;
    font-size: 20px;
  }

  .nav {
    color: #faf4ea;
    &__items {
      display: flex;
      gap: 32px;
    }
    &__link {
      font-size: 16px;
    }
  }

  .header__btn {
    font-size: 16px;
    padding: 12px 24px;
  }

  .hero {
    &__title {
      font-size: 85px;
    }
  }

  .footer {
    &__container {
      gap: 15px;
      grid-template-columns: 1fr repeat(3, 2fr);
    }
    & ul {
      gap: 10px;
      font-size: 16px;
    }
  }

  .info-line {
    font-size: 14px;
  }

  .new-format {
    padding: 40px 0 20px;
    &__text {
      max-width: 350px;
      gap: 20px;
    }
    &__title {
      font-size: 40px;
      line-height: 40px;
    }
    & img {
      max-width: 305px;
    }
  }

  .best-cook {
    padding: 46px 0 66px;
    &__wrapper-title {
      display: flex;
      align-items: end;
      padding-bottom: 10px;
    }
    &__title {
      max-width: 250px;
      font-size: 32px;
      line-height: 40px;
    }
    &__wrapper {
      padding-top: 40px;
      display: flex;
      gap: 0 30px;
    }
  }

  .line {
    margin-bottom: 10px;
    height: 1px;
    width: 250px;
  }
  .info-cook {
    gap: 0 20px;
    &__title {
      padding-bottom: 16px;
      font-size: 30px;
      font-weight: 600;
    }
    & img {
      max-width: 150px;
    }
    &__circule {
      top: 16px;
      left: -16px;
      height: 240px;
      width: 150px;
    }
    &__subtitle {
      font-size: 16px;
    }
  }

  .swiper {
    width: 700px;
  }

  .contacts {
    padding: 20px 0 40px;
    &__info {
      max-width: 300px;
    }
    &__title {
      font-size: 32px;
      line-height: 40px;
    }
    &__subtitle {
      font-size: 16px;
    }
  }

  .form {
    margin-top: 30px;
    &__input {
      padding: 8px 18px;
      font-size: 16px;
      &::placeholder {
        font-size: 16px;
      }
    }
    &__btn {
      padding: 10px 20px;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    --padding: 20px;
  }
  .header__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'logo . burger'
      'nav nav nav'
      'nav nav nav';
  }
  .logo {
    grid-area: logo;
    max-width: 72px;
    font-size: 16px;
  }
  .nav {
    grid-area: nav;
    display: none;
    &__items {
      flex-direction: column;
    }
    &__link{
      color: #31261A;  
    }
    &_active {
      display: block;
    }
  }
  .header_active{
    height: 1000px;
    background-color: #faf4ea;
    & .logo{
      color: #31261A;
      & span {
        font-weight: 600 !important;
      }
    }
  }
  .header__btn {
    display: none;
    width: 203px;
    bottom: -246px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 24px;
    position: absolute;
    &_active{
      display: block;
    }
  }
  .burger {
    grid-area: burger;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 5px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    justify-self: end;
    & span {
      height: 2px;
      border-radius: 5px;
      background-color: #faf4ea;
      transition: all .3s ease-in-out;
      &:nth-child(1) {
        width: 15px;
      }
      &:nth-child(2) {
        width: 20px;
      }
      &:nth-child(3) {
        width: 10px;
      }
      &:nth-child(4) {
        width: 0;
        position: absolute;
        transform: rotate(45deg);
      }
      &:nth-child(5) {
        width: 0;
        position: absolute;
        transform: rotate(135deg);
      }
    }
    &_active{
      & span {
        background-color: #31261A;
        &:nth-child(1) {
          width: 0;
        }
        &:nth-child(2) {
          width: 0;
        }
        &:nth-child(3) {
          width: 0;
        }
        &:nth-child(4) {
          width: 24px;
        }
        &:nth-child(5) {
          width: 24px;
        }
      }
    }
  }
  .hero {
    height: 378px;
    background-repeat: no-repeat;
    background-position: 75%;
    &__container {
      height: 378px;
    }
    &__title {
      font-size: 65px;
    }
  }

  .info-line {
    font-size: 14px;
    padding: 40px 20px 20px;
    background-color: #faf4ea;
    &__container {
      border-radius: 24px;
      background: #cfcfbc;
    }
    &__items {
      padding: 24px 8px;
      flex-direction: column;
      gap: 16px;
      font-size: 14px;
      align-items: start;
      font-weight: 300;
    }
    &__item {
      color: #31261a;
    }
  }

  .new-format {
    padding: 40px 0 20px;
    &__text {
      gap: 16px;
      font-size: 16px;
    }
    &__title {
      font-size: 32px;
    }
    & img {
      display: none;
    }
  }

  .best-cook {
    &__wrapper-title {
      display: flex;
      justify-content: center;
    }
    &__title {
      font-size: 32px;
    }
    &__wrapper {
      padding-top: 24px;
      gap: 25px;
      flex-direction: column;
    }
  }

  .line {
    display: none;
  }
  .info-cook {
    gap: 0 16px;
    &__title {
      padding-bottom: 16px;
      font-size: 24px;
    }
    & img {
      max-width: 140px;
    }
    &__circule {
      top: 10px;
      left: -10px;
      height: 226px;
      width: 140px;
      border-radius: 2px 2px 2px 116px;
    }
    &__subtitle {
      font-size: 14px;
      max-width: 162px;
    }
  }

  .formats{
    padding: 0 0 48px;
  }

  .formats__title {
    font-size: 32px;
    padding-bottom: 24px;
  }

  .swiper {
    width: 320px;
  }

  .swiper-button {
    &-prev {
      display: none;
    }
    &-next {
      display: none;
    }
  }

  .bakery-card {
    width: 320px;
    &__img {
      width: 320px;
    }
  }

  .contacts {
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
    &__map {
      height: 250px;
    }
  }
  .footer {
    background: no-repeat url('../img/footer-mobile.png') #31261a;
    background-size: cover;
    &__container {
      gap: 18px;
      justify-items: center;
      text-align: center;
      line-height: 1.2;
    }
    & ul {
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
    &__container {
      grid-template-columns: 1fr;
    }
    &__logo {
      grid-column: 1;
      grid-row: 1;
    }
    &__nav-List {
      grid-column: 1;
      grid-row: 2;
    }
    &__contacts {
      grid-column: 1;
      grid-row: 3;
    }

    &__policys {
      grid-column: 1;
      grid-row: 4;
    }
  }
  .modal {
    &__main {
      padding: 40px 30px 60px;
      border-radius: 16px;
    }
    &__title {
      font-size: 32px;
      line-height: 1.2;
    }
    &__subtitle {
      margin-top: 8px;
      font-size: 16px;
    }
    &__close {
      top: 10px;
      right: 10px;
    }
    &__img {
      display: none;
    }
  }
  
}
